<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4A</title>
    <meta name="theme-color" content="#80DEEA">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- comando: ejs index.ejs -f dati.json -o index.html -->
    <div class="modal hide">
        <div class="exit">×</div>
        <div class="indietro">&#8249;</div>
        <div class="avanti">&#8250;</div>
        <img id="modal-img" src="" alt="">
    </div>
    <input type="checkbox" name="dark-switcher" id="dark-switcher">
    <div class="dati">
        <% for (let el of dati) { %>
            <div class="card">
                <div class="title">
                    <%=el.titolo%>
                </div>
                <div class="data">
                    <%=el.data%>
                </div>
                <hr>
                <% if (el.tipo=='messaggio' ) {%>
                    <div class="info">
                        <% for (let mex of el.messaggi) { %>
                            <% if (mex.testo) {%>
                                <div class="messaggio">
                                    <div class="orario">
                                        <%=mex.ora%>
                                    </div>
                                    <div class="mittente">
                                        <%=mex.mittente%>
                                    </div>
                                    <div class="testo">
                                        <%=mex.testo%>
                                    </div>
                                </div>
                                <% } else if(mex.audio) {%>
                                    <div class="audio">
                                        <div class="orario">
                                            <%=mex.ora%>
                                        </div>
                                        <div class="mittente">
                                            <%=mex.mittente%>
                                        </div>
                                        <audio src="<%=mex.audio%>" controls></audio>
                                    </div>
                                    <% } %>
                                        <% } %>
                    </div>
                    <% } else if (el.tipo=='immagine' ){%>
                        <div class="immagini" data-q='<%= el.immagini.length %>'>
                            <% for (let im of el.immagini) { %>
                                <div class="immagine">
                                    <img src="<%=im.pos%>" alt="">
                                </div>
                                <% } %>
                        </div>
                        <% } %>
            </div>
            <% } %>
    </div>
    <div class="foot">
        <p>Made with</p>
        <div class="heart">
            <svg viewBox="0 0 544.58 544.58" version="1.1">
                <path
                    d="m448.07 57.839c-72.675-23.562-150.78 15.759-175.72 87.898-24.938-72.215-103.04-111.46-175.72-87.898-73.517 23.945-113.6 103.05-89.734 176.87 22.95 70.38 235.77 258.88 263.01 258.88 27.234 0 244.8-188.27 267.75-258.88 23.944-73.976-16.142-153.08-89.582-176.87z" />
            </svg>
        </div>
        <p>by</p>
        <a href="https://github.com/M3601/4A">Amato Michele
            Pasquale</a>
    </div>
    <script src="./index.js"></script>
</body>

</html>